<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css">

        <title>Personal assistant</title>
    </head>
<body>
    <div class="wrapper">
        <section class="manage-buttons">
            <button class="top-button-exit">Написати нотаток</button>
            <button class="top-button-add">Додати інформацію</button>
            <button class="top-button-edit">Перегляд сторінки</button>
            <button class="top-button-exit">Вийти</button>
        </section>
        <section class="contact-form">
            <img src="my-photo.jpg" alt="user-foto" class="user-img">
            <div>
                <button>Редагувати</button>
                <button>Видалити</button>
            </div>

            <div class="address">
                <text>Адресс:</text>
                <ul style="list-style-type:disc">
                    <li>Первый адрес</li>
                    <button>Редагувати</button>
                    <button>Видалити</button>
                </ul>
            </div>
            <div class="phones">
                <text>Телефон(и):</text>
                <ul style="list-style-type:disc">
                    <li>Первый телефон</li>
                    <button>Редагувати</button>
                    <button>Видалити</button>
                </ul>
            </div>
            <div class="emails">
                <text>Email:</text>
                <ul style="list-style-type:disc">
                    <li>Первый email</li>
                    <button>Редагувати</button>
                    <button>Видалити</button>
                </ul>
            </div>
            <div class="birthday">
                <text>День народження:</text>
                <ul></ul>
                <text>22.01.2000</text>
                <button>Редагувати</button>
                <button>Видалити</button>
            </div>
        </section>
        <section class="notes">
            <div class="name">
                <text>Им'я:</text>
                <ul></ul>
                <text>Діма</text>
                <button>Редагувати</button>
            </div>
            <div class="last-name">
                <text>Прізвище:</text>
                <ul></ul>
                <text>Сердюк</text>
                <ul><button>Редагувати</button></ul>
            </div>
            <div class="note-name">
                <text>Назва:</text>
                <ul></ul>
                <text>День 1</text>
            </div>
            <div class="note-description">
                <text>Зміст:</text>
                <ul></ul>
                <text>Сьогодні я почав займатись спортом</text>
            </div>
            <div class="note-tags">
                <text>Теги:</text>
                <ul style="list-style-type:disc">
                    <li>Первый тег</li>
                    <li>Второй тег</li>
                </ul>
            </div>
        </section>
    </div>

</body>
</html>